*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* BODY */
body{

}
/* END BODY */


/* HEADER */
header{

}
/* HEADER END */


/* MAIN */
main{

}
/* MAIN END */


/* FOOTER */
footer{

}
/* END */